.main-content {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 100%;
    border-radius: 10px;
    flex-direction: column;
    padding: 0px 100px;
    width: 100%;
}